<div class="filters">
  <app-input
    class="filters__search"
    [label]="'common.labels.search' | t"
    [placeholder]="'settings.filters.searchPlaceholder' | t"
    [value]="filters.search"
    (valueChange)="emitChange('search', $event)"
  />

  <label>
    <span>{{ 'common.labels.group' | t }}</span>
    <select [value]="filters.group" (change)="emitChange('group', asValue($event))">
      <option value="">{{ 'common.filters.all' | t }}</option>
      <option *ngFor="let group of groups" [value]="group">{{ group }}</option>
    </select>
  </label>

  <label>
    <span>{{ 'common.labels.type' | t }}</span>
    <select [value]="filters.type" (change)="emitChange('type', asValue($event))">
      <option value="">{{ 'common.filters.all' | t }}</option>
      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
  </label>

  <label>
    <span>{{ 'settings.table.active' | t }}</span>
    <select [value]="filters.is_active" (change)="emitChange('is_active', asBooleanFilter($event))">
      <option value="">{{ 'common.filters.all' | t }}</option>
      <option value="true">{{ 'common.filters.active' | t }}</option>
      <option value="false">{{ 'common.filters.inactive' | t }}</option>
    </select>
  </label>

  <label>
    <span>{{ 'common.labels.channel' | t }}</span>
    <select [value]="filters.channel" (change)="emitChange('channel', asChannel($event))">
      <option value="">{{ 'common.filters.all' | t }}</option>
      <option value="frontend">{{ 'common.filters.frontend' | t }}</option>
      <option value="backend">{{ 'common.filters.backend' | t }}</option>
    </select>
  </label>
</div>
